[Unit]
Description=AWS Three-Tier App Deployment
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=sonali
WorkingDirectory=/home/sonali/aws-three-tier/deploy
ExecStart=/bin/bash /home/sonali/aws-three-tier/deploy/deploy.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

